snippet imr "import React from 'React'" b
import React from "React"

endsnippet

snippet imd "import {} from ''" b
import { $2 } from "$1"

endsnippet
	
snippet todo "TODO" b
// TODO: $0 (`echo $USER`)
endsnippet

